body {
  margin: 40px;
  padding: 0;
  font-family: 'Helvetica';
}
h1 {
  margin: 30px 0 20px 0;
}
pre, textarea {
  margin: 0;
  padding: 10px;
  background-color: #efefef;
  clear: both;
  overflow: scroll;
  margin-bottom: 20px;
}
.red, .green, .blue, .pink, .turquoise, .bucket {
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  width: 90px;
  height: 90px;
  line-height: 90px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 0.8em;
}
.red {
  background-color: #FF3B3B;
}
.green {
  background-color: #7CDB1D;
}
.blue {
  background-color: #377DED;
}
.pink {
  background-color: #E437ED;
}
.turquoise {
  width: 150px;
  height: 150px;
  background-color: #40E0D0;
}
.bucket {
  width:100px;
  height:100px;
  background-color: #FFD700;
  margin-left: 100px;
  line-height: 100px;
}
.object-container,
.scaled-container {
  border: 3px solid red;
  clear: left;
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
}
.scaled-container {
  margin-left: 90px;
  margin-top: 90px
}
